* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Serif Pro", serif;
}
*::selection {
  background-color: #95230F;
  color: #fff;
}
body {
  padding: 20px;
  background-color: #fffff0;
  color: black;
}
header,
#outer-border {
  border: 2px solid #95230F;
  width: 80%;
  margin: 2em auto;
}
header h1 {
  text-align: center;
  font-size: 3em;
  line-height: 2;
  color: #95230F;

}
header {
  padding: 0.2em;
  
}

.highlight {
  color: #95230F;
}

h2 {
  font-size: 2em;
  color: #95230F;
}

#subheading {
  text-align: center;
  line-height: 20px;
  background: #fffff0;
  text-transform: uppercase;

  padding-bottom: 1em;
  font-size: 1em;
}
#subheading span {
  color: #000000;
  font-weight: 600;
  opacity: 0.9;
  font-size: 1em;
  padding: 0 0.5rem;
  letter-spacing: 2px;
}
p {
  font-size: 1.3em;
  color: black;
  opacity: 90%;
}
li {
  font-size: 1em;
  color: black;
  opacity: 90%;
}

ol li,
ul li {
  font-size: 1.2em;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  line-height: 1.5em;
}

.banner-text,
.banner-image {
  padding: 1em 0;
  width: 50%;
  font-size: 1.4em;
}
.larger-banner-text {
  font-size: 1.7em;
  display: block;
  line-height: 1.2em;
  padding-bottom: 0.2em;
  color: #95230F;
  font-weight: bold;
}
.banner-image {
  padding-right: 1em;
}
hr {
  width: 250px;
  padding: 1em;
  border: 2px solid #95230F;
}


.recipe-steps li:hover {
  text-decoration: line-through;
  cursor: pointer;
 
}
#outer-border {
  padding: 1.5em;
}

.ingredients-list,
.recipe-steps {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 2;
}

.ingredients-list {
  list-style: none;
}

.ingredients-list li:before {
  content: "✓";
  margin-right: 20px;
  font-size: 1.375em;
  color: #95230F;
  line-height: 0;
}

#directions{
  padding: 1.5em;
}

#directions h2, .ingredients h2{
  padding-bottom: 1em;
}
.dish-gallery {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}
.dish-gallery img{
  width:300px;
  height: auto;
}

.tips {
  background-image: url(../images/bg-pattern-tip.png);
  background-color: #ffaa00;
  padding: 2em;
}
.tips h2,
.tips ul li {
  color: #000;
  margin-left: 28px;
  line-height: 2;
}
.tips h2 {
  font-weight: 900;
}
img{
  cursor: pointer;
}
.dish-gallery img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.dish-gallery img:hover {
  transform: scale(0.95);
}

a{
  color: #FFFFFF;
}
.btn-link{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #95230F;
  padding: 0.5em 1.2em;
  border-radius: 50px;
}

.btn-link:hover{
  opacity: 0.9;
}







@media screen and (max-width:786px) {
  body{
    padding: 0px;
  }
  header h1 {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.5;
  }
  #subheading{
    line-height: 1.2;
    padding: 0;
    font-size: 0.8em;
  }
  #hero{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .banner-image{
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 1em;
    padding: 1em;
  }

  .banner-text{
    width: 100%;
    padding: 1em;
  }
  .larger-banner-text{
    font-size: 1.2em;
    padding: 0;

  }
  header, #outer-border{
    padding: 1em;
    width: 95%;
    margin: 1em auto;
  }
  h2{
    font-size: 1.2em;
  }
  .Ingredients, .recipe-steps {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.8em;
    padding: 20px 0px;
}
#directions {
  padding: 1.5em;
}
.dish-gallery{
  margin: auto;
    display: flex;
    justify-content: center;
    /* padding: 1.5em 0; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* margin: 1em; */
}
.dish-gallery img{
  width: 30%;
  height: 30%;
}
}